/*COLORS*/
:root {
    /*DARK*/
    --text-dark: #dbdad3;
    --bg-content-dark: #1c1c1c;
    --bg-navbar-dark: #2e2e2e;
    --text-navbar-dark: #ffd700;
    --bg-navbar-button-hover: #494d5f;
    --border-green: greenyellow;
    --border-red: red;
}

/*BODY & CONTENT*/

#content {
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--bg-content-dark);
    color: var(--text-dark);
}


/*vaaleatumma 494d5f*/
/*kulta ffd700*/

/*NAVBAR*/

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-navbar-dark);
    border-radius: 0 0 5px 5px;
    min-height: 75px;
}

#navbar-logo a {
    text-decoration: none;
    color: var(--text-navbar-dark);
    font-size: 30px;
    padding: 10px;
}

#navbar-menu {
    display: flex;
    gap: 1em;
    font-size: 20px;
    padding: 0 10px;
}

.li-navbar-normal a {
    color: var(--text-navbar-dark);
    border: solid 1px var(--text-navbar-dark);
}

.li-navbar a {
    transition: 200ms;
    text-decoration: none;
    border-radius: 25%;
    padding: 10px;
}

.li-navbar-login, .li-navbar-logout {
    display: block;
    list-style-type: none;
}

.li-navbar-login a {
    color: var(--text-navbar-dark);
    border: solid 1px var(--border-green);
}

.li-navbar-logout a {
    color: var(--text-navbar-dark);
    border: solid 1px var(--border-red);
}

.li-navbar a:hover{
    transition: 500ms;
    background-color: var(--bg-navbar-button-hover);
}

.li-navbar {
        display: block;
        list-style-type: none;
    }

#hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {
    #hamburger {
        display: block;
        font-size: 40px;
    }
    .li-navbar {
        display: none;
    }
}

/* LOGIN */

@media only screen and (max-width: 600px) {
    #login-frame {
        margin: auto;
        width: 90%;
        padding: 10px;
        min-width: 300px;
    }
}
#login-frame {
    margin: auto;
    min-width: 200px;
    max-width: 500px;
    padding: 10px;
}

#login-form {
    border-radius: 5px;
    background-color: #494d5f;
    border: wheat 1px solid;
    padding: 20px;
}

#login-form input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2e2e2e;
    color: #dbdad3;
} 

#login-form input[type=submit]{
    border: 1px solid yellowgreen;
}

#login-form input[type=submit]:hover{
    transition: 500ms;
    background-color: green;
}

/*COMMON*/

input[type=submit]:hover {
    cursor: pointer;
}

.green-border {
    border: solid greenyellow 1px;
    border-radius: 5px;
}

.red-border {
    border: solid red 1px;
    border-radius: 5px;
}

.red-border:hover {
    transition: 200ms;
    background-color: red;

}
/*MATCH*/

#matchdiv {
    margin: auto;
    display: block;
    width: 50% - padding;
    min-width: 200px;
    max-width: 600px;
    padding: 20px;
}

#new-match-select {
    width: 100%;
    display: block;
    height: 30px;
    font-size: 20px;
}

.match-button {
    margin: 5px 0px;
    height: 30px;
    background: none;
    color: white;
}

.match-button:hover {
    cursor: pointer;
}

.round {
    margin: auto;
    display: block;
    width: 50%;
}