/*COLORS*/
:root,
:root.light {
  --text-primary: #1d1d1c;
  --text-input: #1d1d1c;
  --bg-primary: #f0f0f0;
  --bg-primary-2: #f7f7f7;
  --bg-secondary: #d89216;
  --bg-secondary2: #d89216;
  --bg-form: #f0f0f0;
  --bg-form-border: #f0f0f0;
  --border-form-input: #1d1d1c;
  --bg-form-input: #eeeeee;
  --bg-button-hover-green: greenyellow;
  --bg-button-hover-red: red;
  --text-secondary: #1d1d1c;
  --bg-navbar-button: #f0f0f0;
  --border-green: green;
  --border-red: red;
}

:root.dark {
  --text-primary: #dbdad3;
  --text-input: #dbdad3;
  --bg-primary: #082032;
  --bg-primary-2: #082032;
  --bg-secondary: #051724;
  --bg-secondary2: #051724;
  --bg-form: #082032;
  --bg-form-border: #082032;
  --border-form-input: #d89216;
  --bg-form-input: #051724;
  --bg-button-hover-green: greenyellow;
  --bg-button-hover-red: red;
  --text-secondary: #d89216;
  --bg-navbar-button: #082032;
  --border-green: green;
  --border-red: red;
}

/*BODY & CONTENT*/

#content {
  max-width: 1000px;
  margin: auto;
  /* height: 100%; */
  /*background-color: var(--bg-primary);*/
}

body {
  margin: 0;
  background-image: linear-gradient(
    to right,
    var(--bg-primary),
    var(--bg-primary-2)
  );
  /* background-color: var(--bg-primary); */
  color: var(--text-primary);
}
/*vaaleatumma 494d5f*/
/*kulta ffd700*/

/*NAVBAR*/

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--bg-secondary); */
  background-image: linear-gradient(
    to right,
    var(--bg-secondary),
    var(--bg-secondary2)
  );
  border-radius: 0 0 5px 5px;
  height: 75px;
  border: var(--bg-secondary);
}

.theme {
  display: flex;
  font-size: 30px;
  background-color: var(--bg-secondary);
  cursor: pointer;
}

#logo-and-theme {
  display: flex;
}

#navbar-logo a {
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 30px;
  padding: 10px;
}

#navbar-menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
  padding: 0 10px;
}

.li-navbar-normal a {
  color: var(--text-secondary);
  border: solid 1px var(--text-secondary);
}

.li-navbar a {
  transition: 200ms;
  text-decoration: none;
  border-radius: 10%;
  padding: 10px;
}

.li-navbar-login,
.li-navbar-logout {
  display: block;
  list-style-type: none;
}

.li-navbar-login a {
  color: var(--text-secondary);
  border: solid 1px var(--border-green);
}

.li-navbar-logout a {
  color: var(--text-secondary);
  border: solid 1px var(--border-red);
}

.li-navbar a:hover {
  transition: 500ms;
  border-radius: 50%;
  background-color: var(--bg-navbar-button);
}

.li-navbar {
  display: block;
  list-style-type: none;
}

#hamburger {
  display: none;
}

@media only screen and (max-width: 700px) {
  #hamburger {
    display: block;
    font-size: 40px;
    cursor: pointer;
  }
  .li-navbar {
    display: none;
  }
}

/*hamburgaa*/

#hamburger-menu-background {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  z-index: 50;
}

#hamburger-menu {
  display: block;
  gap: 1em;
  font-size: 20px;
  padding: 0 10px;
  z-index: 55;
}

.li-hamburger a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: var(--text-secondary);
}

.li-hamburger a:hover {
  transition: 200ms;
  background-color: var(--bg-secondary);
}

/* FORM */
.form-frame {
  margin: auto;
  min-width: 200px;
  max-width: 500px;
  padding: 10px;
}

form {
  background-color: var(--bg-form);
  padding: 20px;
}

form fieldset {
  border: var(--bg-form-border) 1px solid;
  border-radius: 5px;
  /* border: none; */
}

/*INPUTS/BUTTONS*/

input,
select {
  width: 100%;
  height: 40px;
  margin: 8px 0;
  display: block;
  border: 1px solid var(--border-form-input);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--bg-form-input);
  color: var(--text-input);
}

input[type='submit'] {
  transition: 500ms;
  border: 1px solid var(--border-green);
  background-color: var(--border-green);
}

input[type='submit']:hover {
  transition: 500ms;
  background-color: var(--bg-button-hover-green);
  cursor: pointer;
}

.green-border {
  border: solid var(--border-green) 2px;
  border-radius: 5px;
}

.green-border:hover {
  transition: 200ms;
  background-color: var(--bg-button-hover-green);
}

.red-border {
  border: solid var(--border-red) 2px;
  border-radius: 5px;
}

.red-border:hover {
  transition: 200ms;
  background-color: var(--bg-button-hover-red);
}

button {
  color: var(--text-primary);
}

/*MATCH*/
#matchdiv {
  margin: auto;
  display: block;
  width: 50% - padding;
  min-width: 200px;
  max-width: 600px;
  padding: 20px;
}

#new-match-select {
  width: 100%;
  display: block;
  height: 40px;
  font-size: 20px;
}

.match-button {
  height: 40px;
  background: none;
}

.match-button.green-border {
  transition: 240ms;
  background-color: var(--border-green);
  width: 100%;
  height: 50px;
}
.match-button.green-border:hover {
  transition: 240ms;
  background-color: var(--bg-button-hover-green);
}

/* #add-player {
  margin: 0 25% 0 25%;
  height: 50px;
  width: 50%;
} */

.round h1 {
  display: flex;
  justify-content: center;
}

.added-player {
  padding-top: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}

.player-input {
  min-width: 100px;
  width: 300px;
  font-size: 18px;
  margin: 0px 10px;
}

.round-players {
  display: flex;
  justify-content: space-evenly;
}

.name-input {
  min-width: 50px;
  width: 200px;
  height: 20px;
  font-size: 18px;
  margin: 0px 10px;
  background: none;
  border: none;
  color: var(--text-primary);
}

.score-input {
  min-width: 50px;
  width: 100px;
  height: 30px;
  font-size: 18px;
  margin: 0px 10px;
}

.win-input {
  min-width: 35px;
  width: 50px;
  font-size: 18px;
  margin: 0px 10px;
  background: none;
  border: none;
  box-sizing: border-box;
  color: var(--text-input);
}

#round-buttons {
  display: flex;
  justify-content: space-between;
}

.match-buttons {
  display: flex;
  justify-content: center;
}

#save-match-button {
  width: 80%;
  height: 60px;
  margin: 40px 0px;
}

.round-button {
  margin: 0 10% 0 10%;
  height: 50px;
  width: 50%;
  background: none;
}

/* #start-match {
  margin: 0 25% 0 25%;
  width: 50%;
  height: 50px;
} */

button:disabled {
  cursor: auto;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  cursor: default;
}

button {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

/*BROWSE*/

#browse-view {
  margin: auto;
  display: block;
  width: 50% - padding;
  min-width: 200px;
  max-width: 600px;
  padding: 20px;
}

#browse-view li,
ul {
  list-style-type: none;
  padding-left: 0;
}

#browse-view a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 25px;
}

#search-options div {
  padding-bottom: 30px;
}

#search-sport-select {
  width: 100%;
  display: block;
  height: 40px;
  font-size: 25px;
}

#search-winners-buttons {
  display: flex;
  justify-content: right;
}

#search-winners-buttons button {
  transition: 250ms;
  width: 50px;
  height: 50px;
  font-size: 40px;
  margin-right: 50px;
  background-color: var(--bg-primary);
  color: var(--text-input);
  border: solid;
  border-color: #d89216;
}

#search-winners-buttons button:hover {
  transition: 250ms;
  background-color: var(--bg-secondary);
}

#search-button {
  width: 100px;
  height: 40px;
  font-size: 25px;
  background: none;
}

#search-button:hover {
  background-color: var(--bg-button-hover-green);
  color: black;
}

.listed-game {
  display: flex;
  justify-content: space-between;
}

/*GAMEVIEW*/
#game-view {
  margin: auto;
  display: block;
  width: 50% - padding;
  min-width: 100px;
  max-width: 200px;
  padding: 20px;
}

.game-round-header {
  display: flex;
  justify-content: center;
}

.game-round-scores {
  display: flex;
  justify-content: space-between;
}

/*PROFILE*/

#change-password {
  margin: auto;
  display: block;
  width: 50% - padding;
  min-width: 100px;
  max-width: 600px;
  padding: 20px;
}

#change-password input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: var(--bg-form-input);
  color: var(--text-input);
}

#change-password button {
  transition: 500ms;
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-green);
  background-color: var(--border-green);
  color: var(--text-input);
}

#change-password button:hover {
  transition: 500ms;
  background-color: var(--bg-button-hover-green);
}
